.photo-grid-overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.grid-line {
    position: absolute;
    /* Color and opacity are set via inline styles in the component */
}

.grid-line.horizontal {
    width: 100%;
    height: 1px;
    left: 0;
}

.grid-line.vertical {
    width: 1px;
    height: 100%;
    top: 0;
}